/*  ---------------------------------------------------
    Color Palette 
------------------------------------------------------- */
$whiteBackground: #fcfcfc;
$dark: #0d1b2a;

/*  ---------------------------------------------------
    Sizes 
------------------------------------------------------- */
$headerHeight: 100;

/*  ---------------------------------------------------
    Breakpoints
------------------------------------------------------- */

$mobile: 450;
$tablet: 768;
$tablet-landscape: 1024;
$desktop: 1366;
$desktop-large: 1560;
$desktop-extra-large: 2010;